@using Shop.Common
@using Shop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Shop.Services.Data.CardService count
@inject Shop.Services.Data.RequestService requestCount

<style>
    .cart-item {
        margin-left: 50px;
    }
</style>

<div class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {@*<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Create" asp-action="CreateForm">Създаване</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-italic rounded font-weight-bolder" asp-area="" asp-controller="Product" asp-action="MyProducts">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark dropdown-item font-italic font-weight-bolder" asp-controller="Profile" asp-action="Index">Profile  </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark dropdown-item font-italic font-weight-bolder" asp-controller="Message" asp-action="Message">Messages  </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-dark font-weight-bolder">Logout</button>
            </form>
        </li>
    </ul>*@
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButtonProfile"
                                data-mdb-toggle="dropdown"
                                data-toggle="dropdown"
                                aria-expanded="false"
                                name="region">
                            @(this.User.Identity.Name)!
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-area="" asp-controller="Create" asp-action="CreateForm">Create</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="MyProducts">Products</a>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                            <a class="dropdown-item" asp-controller="Message" asp-action="Message">Messages</a>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                <button type="submit" class="nav-link btn btn-link text-dark font-weight-bolder">Logout</button>
                            </form>
                        </div>
                    </div>
                                    <div class="nav-item cart-item">
                                        <div class="cart border border-secondary  ">
                                            <a type="button" asp-controller="Vendor" asp-action="Index">
                                                <i class="material-icons">
                                                    <img class="cart-image" src="~/Images/154fdf2f2759676a96e9aed653082276.png" />
                                                </i>
                                                <span class="count-buble bg-success">@count.ProductCount(this.UserManager.GetUserId(this.User))</span>
                                            </a>
                                        </div>
                                    </div>
                                                    <div class="nav-item cart-item">
                                                        <div class="cart border  ">
                                                            <a id="myBtn" asp-controller="friendRequest" asp-action="friendrequest" type="button">
                                                                <i class="material-icons">
                                                                    <img  class="cart-image " src="~/Images/frReq.png" />
                                                                </i>
                                                                <span class="count-buble bg-success ">@requestCount.RequestCount(this.UserManager.GetUserId(this.User))</span>
                                                            </a>
                                                        </div>
                                                    </div> if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                                    {
                                                    <div class="nav-item">
                                                        <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                                                    </div> }

                                                                }
                                                                else
                                                                {
                                                    <div class="nav-item">
                                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                                    </div>
                                                                    <div class="nav-item">
                                                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Sign</a>
                                                                    </div>}
</div>
