@using Shop.Common
@using Shop.Data.Models
@using Microsoft.AspNetCore.Identity
@model Shop.Web.ViewModels.Create.ProductInputModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    body {
        font-family: Arial;
        margin: 0;
    }
    *{
        box-sizing: border-box;
    }
    .image-gallery {
        width: 75px;
        height: 100px;
    }

    .image-slider {
        width: 100%;
        height: 700px;
    }

    img {
        vertical-align: middle;
    }
    /* Position the image container (needed to position the left and right arrows) */
    .slider-container {
        width: 50%;
        position: relative;
        justify-content: left;
        align-items: flex-start;
    }

    /* Hide the images by default */
    .mySlides {
        padding-left: 16px;
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
     
    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    .row-iamges {
        padding-left: 31px;
    }
    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }
        .active,
        .demo:hover {
            opacity: 1;
        }
</style>

<div class="productAdsBanner">
    <h1>put here ad</h1>
</div>
<hr />
 
<div class="row">
    <div class="col-lg-5">

        <div class="mySlides text-center">
            <img class="image-slider" src="http://res.cloudinary.com/ds1ne4hps/image/upload/@Model.Image">
        </div>

        @{ var imageNumber = 2;}

        @foreach (var item in Model.Images)
        {

            <div class="mySlides text-center">
                <img class="image-slider" src="http://res.cloudinary.com/ds1ne4hps/image/upload/@item.Name">
            </div>
        }

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="row row-iamges">
            <div class="column">
                <img class="demo cursor image-gallery"
                     src="http://res.cloudinary.com/ds1ne4hps/image/upload/@Model.Image" onclick="currentSlide(1)" alt="The Woods">
            </div>
            @foreach (var item in Model.Images)
            {
                <div class="column">
                    <img class="demo cursor image-gallery"
                         src="http://res.cloudinary.com/ds1ne4hps/image/upload/@item.Name" onclick="currentSlide(@imageNumber)" alt="@item.Name">
                </div>
                imageNumber++;
            }
        </div>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <p class="font-weight-bold old-price"></p>
                <p class="font-weight-bold new-price">@Model.IntegerPrice<sup>@Model.Coins</sup><span>Лв</span></p>
                <hr />
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <button type="submit" class="btn btn-lg btn-primary" onclick="addProductToCard(@Model.Id)"
                            data-toggle="modal" data-target="#largeModal">
                        Добави в количката
                    </button>
                }
                else
                {
                    <a class="btn btn-lg btn-primary" asp-route-returnUrl="/product/@Model.Url" asp-area="Identity" asp-page="/Account/Login">Добави в количката</a>
                }
                <hr />
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <button type="submit" class="btn btn-lg btn-primary" onclick=""
                            data-toggle="modal" data-target="#largeModal">
                        Video call
                    </button>
                }
                else
                {
                    <a class="btn btn-lg btn-primary" asp-route-returnUrl="/product/@Model.Url" asp-area="Identity" asp-page="/Account/Login">Video</a>
                }
                <hr />
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <button type="submit" class="btn btn-lg btn-primary" onclick="messageForm()">
                        Message
                    </button>
                }
                else
                {
                    <a class="btn btn-lg btn-primary" asp-route-returnUrl="/product/@Model.Url" asp-area="Identity" asp-page="/Account/Login">
                        Message
                    </a>
                }
            <div id="mesasgeForm" style="display:none">
                <textarea id="messageArea"></textarea>
                <input id="hiddenInput" type="hidden" value="@Model.UserId" />
                <button type="submit" class="btn btn-lg btn-primary" onclick="sendMessage()">Send</button>
            </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="product-information text-left col-8">
        <p>Добавена на : @Model.CreatedOn</p>
        <hr />
        <h1>@Model.Name</h1>
        <p>Обявата е видяна от @Model.SeenCount потребителя</p>
        <hr />
        <h3>Описание</h3>
        <p>@Model.Description</p>
        <div class="row">
            <div class="col-4"><span>Преглеждания</span></div>
        </div>
    </div>
    <div class="col-4 product-information">
        <h3>Потребител</h3>
        <p>@Model.UserUserName</p>
        <p>Обявата е видяна от @Model.SeenCount потребителя</p>
    </div>
</div>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close"></button>
            <h4>Продуктът е добавен в количката</h4>
        </div>
    </div>
</div>

<!-- large modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title text-success font-italic font-weight-bolder" id="myModalLabel">Продуктът е добавен в количката</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <img class="image-gallery" src="http://res.cloudinary.com/ds1ne4hps/image/upload/@Model.Image">
                    </div>
                    <div class="col-5">

                    </div>
                    <div class="col-1">
                        <br />
                        <p class="font-weight-bold new-price">@Model.IntegerPrice<sup>@Model.Coins</sup><span>Лв</span></p>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-3">
                        <br />
                        <a type="button" asp-controller="Vendor" asp-action="Index" class="btn btn-primary">виж количката</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer text-center">
                <h1>Some adds here</h1>
            </div>
        </div>
    </div>
</div>



<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    async function addProductToCard(product) {

        const postResponse = await fetch(`https://localhost:44319/api/card/${product}`);

        //const appUrl = 'https://localhost:44319/api/';
        //console.log('raboti');
        //console.log(product);
        //$.post({
        //    url: appUrl + 'Post/Add',
        //    headers:
        //    {
        //        'content-type': 'application/json'
        //    },
        //    data: JSON.stringify({ productId: product}),
        //    success: function success(data) {
        //        consol.log(data);
        //    },
        //    error: function error(error) {
        //        console.log(error)
        //    }
        //});
    }
    
    function messageForm() {
        console.log('here');
        const messageForm = document.getElementById('mesasgeForm');
        if (messageForm.style.display === 'block') {
            messageForm.style.display = 'none';
        }
        else {
            messageForm.style.display = 'block'
        }
    }

    //async function sendMessage() {
    //    console.log('send');
    //    const test = document.getElementById('messageArea').value;
    //    const messageText = await fetch(`https://localhost:44319/api/message/${test}`);
    //}

    function sendMessage(userToId) { 
        const text = document.getElementById('messageArea').value;
        var userToId = document.getElementById('hiddenInput').value;
        // var token = $("#votesForm input[name=__RequestVerificationToken]").val();
        var json = { text: text, userToId: userToId };
        console.log(json);
        $.ajax({
            url: "/api/apimessage",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log('tuk');
            //    $("#votesCount").html(data.votesCount);
            //    console.log(data)
            //    console.log(data.votesCount)
            }
        });
    }
     
</script>
